*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: sans-serif;
    background-color: honeydew;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 100vw;
    height: 93vh;
    display: grid;
    place-items: center;
}
.navbar{
    width: 100vw;
    height: 7vh;
    box-shadow: 5px 5px 9px gray;
    background-color:azure;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navlist{
    display: flex;
}
.navlist li{
    margin: 0 30px;
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    color: green;
}
.inside{
    text-align: center;
}
.back-head{
    font-size: 3rem;
    border-radius: 10px;
letter-spacing: 1px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: black;
    color: aliceblue;
}
.color-name{
    color: rgb(60, 212, 212);
    letter-spacing: -1px;
    font-weight: 500;
}
button{
    padding: 10px 13px;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
    background: none;
    border: 2px solid black;
    border-radius: 10px;
    margin: 9vh 0;
    transition: all 0.4s;
}
button:hover{
    background-color: black;
    color: aliceblue;
}





