*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    background-color: honeydew;
    overflow: hidden;
}
.counter{
    text-align: center;
}
.counter h1{
    font-size: 5.3rem;
margin-bottom: 30px;
}
.counter p{
    font-weight: 500;
    font-size: 5rem;

}
button{
    padding: 10px 13px;
    font-size: 1.3rem;
    color: honeydew;
    font-weight: bold;
    background: none;
    border: 2px solid black;
    border-radius: 10px;
    margin: 9vh 0;
    transition: all 0.4s;
}
button:hover{
    background-color: black;
    color: aliceblue;
}
.incre-btn{
    background-color: green;
}
.reset-btn{
    background-color: darkgoldenrod;
}.decre-btn{
    background-color: maroon;
}