/* login section */
body{
    width: 100vw;
    height: 100vh;
    background-image: url('/img2/login.jpeg');
    overflow:hidden;
}
.formlogin{
    width: 100vw;
    height: 88vh;
    
    font-family: sans-serif;
    display: flex;
    background-color: rgba(0, 0, 0, 0.674);
    justify-content: center;   
    
    align-items: center;
    
}
.formlogin form{
    background-color: aliceblue;
    position: relative;
    padding: 30px;
    margin: 5vh auto;
    /* margin: 30px auto; */
    border-radius: 5px;
    width: 330px;

    box-shadow: 4px 4px 16px darkgray;

}
.formlogin input{
    padding: 10px 16px ;
    border: 1px solid var(--color4);
    outline: none;
    font-size: 1.2rem;
    color: var(--color4);
    margin: 8px 0;
    border-radius: 5px;
}
#checkbox{
    transform: scale(1.2);
    margin: 0 5px;
}
.formlogin input::placeholder{
    font-size: 1.2rem;
    color: rgb(139, 139, 139);
    opacity: 0.6;
}
.formlogin label{
    font-size: 1.1rem;
    text-align: left;

}
.formlogin a{
    text-align: center;
    font-size: 1.2rem;
    color: var(--color9);
    padding: 2px 0px;
    margin: 8px 0;
}
.formlogin a:hover{
    color: darkgreen;
}

.accBtn{
    padding:  7px 0;
    background-color: var(--color9);
    color: aliceblue;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    width: 100%;
}

.formlogin .unilink{
    text-align: right;
    display: block;

}
.formlogin h6{
    text-align: center;
    color: black;
    box-shadow: none;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 100;
}

#sinup{
    display: none;
}
.addbody{
    height: 100vh;
    width: 100vw;
    background-color: darkgray;
    overflow-y: hidden;
}
form h2{
    font-size: 2.4rem;
    font-family:"poppins";
    margin: 10px 0;
    color: darkgreen;
    text-align: center;
}
.userimg{
    width: 150px;
    margin:0  auto;
    margin-top: -70px;
    display: block;

}