*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}
.darkmode{
    background-color: rgba(255, 68, 0, 0.431);                                 
}
main{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
}
.bgimg{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -4;
}
button{
    padding: 4px 8px;
    font-size: 1.3rem;
    background:darkgreen;
    font-weight: bold;
    color: aliceblue;
    margin: 0 6px;
    border: 3px solid darkgreen;
    cursor: pointer;
    animation: closeani 1s linear infinite;
    border-radius: 7px;
}
.modal-project, .modal-content{
    width: 450px ;
    padding: 4vh 0;
    text-align: center;
    background-color: azure;
    border-radius: 12px;
}
.modal-content h1{
font-size: 2.3rem;
color: darkmagenta;

}
.modal-content{
    padding: 8vh 6vw;
    display: none;
    position: relative;
}
.modal-content button{
    background: none;
    font-size: 2.3rem;
    color: maroon;
    border: none;
    position: absolute;
    top: 0.5vh ;
    right: 1vw;
    animation: closeani 1s linear infinite;
}
@keyframes closeani {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.4);
    } 
    100%{
        transform: scale(1);
    }
}
.modal-project h1{
    font-size: 3.4rem;
    color: darkgreen;
}
.btns{
    margin: 2vh 0;
}