*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --color2: green;
    --backgroundColor:#4A98F7;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
}

canvas{
    width: 70vw;
    height: 75vh;
    box-shadow: 2px 2px 10px snow ;
    cursor:crosshair;
    background-color: white;
}
.tools{
    width: 200px;
    background-color: aliceblue;
    margin-right: 10px;
    height: 75vh;
}
.tools span{
    font-size: 1.1rem;
    color: var(--color2) ;
    /* display: block; */

    
}

.tools{
    background:aliceblue;
    border: none;
    cursor:pointer;
}
.tools .option{
    padding: 6px 14px 3px  30px;
    list-style: none;
    color: darkmagenta;
}
/* .tools buttbutton */ 
.tools  .option:hover i{
    color: var(--backgroundColor);
    text-shadow: 1px 1px 2px var(--backgroundColor);
}

.tools .option:hover span{
    text-shadow: 1px 1px 3px var(--backgroundColor);
    color: var(--backgroundColor);
}
.tools hr{
    border: 1px solid var(--backgroundColor);
    opacity: 0.2;
}
.tools i{
    color: var(--color2);
    font-size: 1.1rem;
    margin-right: 10px;

    
    /* font-family: sans-serif; */
    /* font-weight: 100; */
}
.tools .fix{
    display: block;
    text-align: left;
    font-size: 1.5rem;
    margin: 20px 0;
}
.tools .option .fix:hover{
    color: var(--color2) ;
    box-shadow: none;
}
.tools .fixed{
    padding: 6px 14px 3px  30px;
    font-size: 1.3rem;
    list-style: none;
}
.tools .option #facheckbox{
    font-size: 1.3rem;
    margin-right: 14px;
}
.tools .shapes{
    font-size: 1.5rem;
    padding: 6px 14px 3px  10px;

}
/* colors design */

.tools .options{
    display: flex;
    margin: 0 0 0 30px;

}
.tools .options .option{
    padding: 0;

    width: 20px ;
    height: 20px ;
    background-color: maroon;
    margin: 12px 2px;
    border-radius: 50%;
    position: relative;

}
.tools .options .option #inpcolor{
    opacity: 0;
    
}
.tools .options .option:hover::before{
    content: "";
    position: absolute;
    width: 13px ;
    height: 13px ;
    border: 2px solid honeydew;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tools .options .option:nth-child(1){
    background-color: white;
    border: 2px solid darkgray;
}

.tools .options .option:nth-child(2){
    background-color: green;
}
.tools .options .option:nth-child(3){
    background-color: orange;
}
.tools .options .option:nth-child(4){
    background-color: darkmagenta;
}
.tools .options .option:nth-child(5){
    background-color: chartreuse;
}
.tools .options .option:nth-child(6){
    background-color: teal;
}
 button{
    padding: 9px 12px;
    background-color: var(--color2);
    border: none;
    border-radius: 4px ;
    margin: 2px 0;
    color: aliceblue;
    font-size: 1.1rem;
    width: 100%;
    cursor: pointer;


}
.btn{
    background: none;
    color: var(--color2);
    border: 3px solid var(--color2);
    border-radius: 7px;
    transition: all 0.4s;

}
.btn:hover{
    background-color: var(--color2);
    color: aliceblue;
}
.active{
    color: var(--backgroundColor);

}