*{
    margin: 0%;padding: 0%;box-sizing: border-box;
}
.container{
    width: 100%;height: 100vh;background-color: honeydew;
    display: grid;place-items: center;
}
.select{
    width: 300px;background-color: crimson;border-radius: 10px;
}
.select ul{
    list-style: none;display: grid;place-items: center;text-align: center;color: white;
}
.select ul li{
    padding: 15px 18px;font-size: 1.6rem;cursor: pointer;width: 100%;
}
.select ul li:hover{
    background-color: rgb(98, 8, 26);
}
input{
    width: 100%;padding: 14px 13px ;outline: none;border: 3px solid crimson;
    border-radius: 10px;
}





