*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}
.screenvideo{
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: black;
}
.screenvideo .videotag{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
nav{
    width: 100%;
    display: flex;
    /* background-color: orange; */
    padding: 6px 0;
   
}
nav .logo{
    width: 50%;
}
.logo .fa-burn{
    font-size: 2rem;
    color: honeydew;
    margin: 1vh 0 0 7vw;
    font-style: italic;
}
nav .list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.list li{
    list-style: none;
    margin: 0% 1vw;
}
.list li a{
    text-decoration: none;
    color: aliceblue;
padding: 7px 12px;
position: relative;
}
.list li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background-color: darkorange;
    height: 100%;
    transition: all 0.3s;
    mix-blend-mode: screen;
}
.list li a:hover::before{
    width: 100%;
}
.frontsection{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 128, 0, 0.616);
    position: absolute;
    top: 0;
}
.maintext{
    width: 100%;
    padding-left: 6vw;
}
.maintext h1{
    color: honeydew;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 1px 4px orange;
    
    padding: 17vh 0 3vh 0;
}
.maintext p{
    color: aliceblue;
    font-size: 1.1rem;
}
.btn{
    padding: 6px 18px;
    outline: none;
    background-color: orange;
    font-size: 1.2rem;
    color: honeydew;
    margin-top: 3vh;
    border-radius: 23px;
    border: none;
    border: 2px solid orange;
    transition: all 0.4s;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid orange;
    background:none;
}
.downloadbtn{
    width: 100%;
    text-align: right;
}
.btn2{
    padding: 0px 22px;
    background-color:orange;
    margin: 5vh 4vw 0 0 ;
    color: honeydew;
    outline: none;
    border-radius: 23px;

    animation: caret 1s linear infinite;
    border: none;
    transition: all 0.3s;
}
.fa-caret-down{
    font-size: 2.5rem;
    animation: caret 1s linear infinite;
    padding: 2px 5px;
}

@keyframes caret {
    0%{
        transform: translateY(0px);
        transform: scale(1);
    }
    50%{
        transform: translateY(10px);
        transform: scale(1.1);

    }
    100%{
        transform: translateY(0px);
        transform: scale(1);

    }
}






