*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: honeydew;
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
}
.video{
    width: 100vw;
    height: 100vh;
    background: black;
}
.video video{
    width: inherit;
    height: inherit;
    background: black;
    opacity: 0.5;
}
button{
    padding: 4px 8px;
    font-size: 1.3rem;
    background:aliceblue;
    font-weight: bold;
    color: blue;
    margin: 0 6px;
    cursor: pointer;
    animation: closeani 1s linear infinite;
    border-radius: 7px;
 position: absolute;   
 bottom: 50%;
}